!!!
%html{'ng-app' => 'myApp'}
  %head
    %title I am liberia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    :css
      / body {
      /     padding-top: 10px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
      / }

      .portfolio-item {
          margin-bottom: 25px;
      }

      footer {
          margin-left: 10px;
      }

      .toptobottom{

        display:inline-block;
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);

      }


  %body
    .row
      .col-xs-4{style: 'min-height:400px;'} 
        =image_tag asset_path('prince-anthony.jpg'), width: '104%'

      / .col-xs-1{style: 'background-color:black; color:white;min-height:639px;'} 
      .col-xs-1 
        / %div.toptobottom{style: 'font-size:14pt;width:200px'}
        /   I AM LIBERIA

      .col-xs-7
        %div{style: 'position:relative;margin-top:25%;width:80%;'}
          %p
            This site is an attempt to demonstrate that underprivileged young adults in Monrovia can educate themselves online. Scroll down to see some of their progress retreived from
            %a{src: 'http://www.duolingo.com'} duolingo 
            and
            = succeed '.' do
              %a{src: 'http://wwww.khanacademy.org'} khanacademy
            They're also learning typing at
            = succeed '.' do
              %a{src: 'http://www.typingclub.com'} typingclub
            Notice how Anthony, the second guy down is ripping through Spanish!

          %p
            %a{src: 'http://www.ilabliberia.org'} iLab Liberia
            has been kind enough to let us use their internet and laptops. If you have similar facilities and would like to do something similar, please contact me at the link at the footer.            

    / Navigation

    %nav.navbar.navbar-inverse{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              =# link_to "Google", user_omniauth_authorize_path(:google_oauth2)
        / /.navbar-collapse
      / /.container
    / Page Content

    = yield



    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60081327-2', 'auto');
      ga('send', 'pageview');